<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<p>
<a href="/">To Top</a>
</p>

<input id="register_txt" type="text" />
<input id="register_btn" type="button" value="register" />

<p id="register_result"></p>
