<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<p>
<a href="/">To Top</a>
</p>

<input id="search_txt" type="text" />
<input id="search_btn" type="button" value="search" />

<ul id="search_list"></ul>

